<nav class="bg-blue-500 p-4 text-white">
    <div class="container mx-auto flex justify-between items-center">
        <a href="{% url 'home' %}" class="text-2xl font-bold hover:text-yellow-400 transition duration-300">Study Buddy</a>
        <div class="flex items-center space-x-4">
            <ul class="flex space-x-4">
                <li><a href="{% url 'home' %}" class="hover:underline">Home</a></li>
                <li><a href="{% url 'room' primary_key=1 %}" class="hover:underline">Rooms</a></li>
            </ul>
            <form action="{% url 'home' %}" method="GET">
                <input type="text" name="search" placeholder="Search" class="px-3 py-2 text-gray-700 border rounded-md focus:outline-none focus:ring focus:ring-blue-400">
            </form>
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="hover:underline">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="hover:underline">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
