{% extends "mainlayout.html" %}

{% block content %}
<div class="container mx-auto mt-8">
    <div class="py-4">
        <div class="container mx-auto">
            <div class="flex items-center justify-between">
                <h2 class="text-gray-800 text-3xl font-semibold">Browse Topics</h2>
                <ul class="flex space-x-4">
                    <li>
                        <a href="{% url 'home' %}?search=All" class="text-gray-600 hover:text-indigo-500 hover:underline transition duration-300">All</a>
                    </li>
                    {% for topic in topics %}
                    <li>
                        <a href="{% url 'home' %}?search={{topic.name}}" class="text-gray-600 hover:text-indigo-500 hover:underline transition duration-300">{{topic.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
        <a href="{% url 'create-room' %}" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-full hover:bg-blue-700 hover:shadow-md transition duration-300 mb-4 inline-block">Create Room</a>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for room in rooms %}
            <div class="bg-white border p-4 rounded-md shadow">
                <a href="{% url 'room' room.id %}">
                    <h5 class="text-xl font-bold mb-2">{{ room.name }}</h5>
                    <p class="text-lg text-gray-600">{{ room.description }}</p>
                </a>
                <a href="{% url 'update-room' room.id %}" class="mt-4 block text-blue-500 font-semibold hover:underline">Update</a>
                <a href="{% url 'delete-room' room.id %}" class="mt-4 block text-blue-500 font-semibold hover:underline">Delete</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
