{% extends "mainlayout.html" %}

{% block content %}
<div class="container mx-auto mt-8">
    <div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
        <a href="{% url 'create-room' %}" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-full hover:bg-blue-700 hover:shadow-md transition duration-300 block w-full text-center mt-5 mb-2">
            Create Room
        </a>
        <p class="text-gray-500 text-sm mt-2">{{ room.host.username }}</p>
        <h2 class="text-2xl font-bold mb-2">{{ room.id }}</h2>
        <h1 class="text-4xl font-extrabold text-blue-500 mb-2">{{ room.name }}</h1>
        <p class="text-gray-700 text-sm mt-2">{{ room.topic.name }}</p>
        <p class="text-gray-700 text-sm mt-2">{{ room.description }}</p>
    </div>

    <div class="mt-8">
        <h1 class="text-xl font-bold">Conversations</h1>
        <hr class="my-2">
        {% for conversation in conversations %}
            <div class="mb-4">
                <h5 class="text-gray-600 text-sm">{{ conversation.user }} - {{ conversation.created|timesince }} ago</h5>
                <p class="text-gray-700">{{ conversation.body }}</p>
                {% if request.user == conversation.user %}
                <a href="{% url 'delete-message' conversation.id %}" class="text-blue-500 font-bold hover:underline">Delete</a>
                {% endif %}
                <hr class="my-2">
            </div>
        {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
    <div class="mt-8">
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="body" placeholder="Write your message here....." class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-400 mt-2">
        </form>
    </div>
    {% endif %}

    <div class="mt-8">
        <h1 class="text-xl font-bold">Participants</h1>
        <hr class="my-2">
        {% for participant in participants %}
            <div class="mb-4">
                <p class="text-gray-700">{{ participant.username }}</p>
                <hr class="my-2">
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
