{% extends "mainlayout.html" %}

{% block content %}
<div class="container mx-auto mt-8">
    <div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
        {% if isUpdate %}
            <h2 class="text-2xl font-bold mb-4">Update a Room</h2>
        {% else %}
            <h2 class="text-2xl font-bold mb-4">Create a Room</h2>
        {% endif %}
            <!-- custom_form.html -->
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-4 items-center align-middle">
            <label for="{{ field.id }}" class="text-gray-500 inline-block w-1/4">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}

    {% if isUpdate %}
        <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-full hover:bg-blue-700 hover:shadow-md transition duration-300">Update</button>
    {% else %}
        <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-full hover:bg-blue-700 hover:shadow-md transition duration-300">Create</button>
    {% endif %}    

</form>
    </div>
</div>
{% endblock content %}
